* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.nav {
    background-color: #006980;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
}

.site-title {
    padding: 10px;
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a {
    color: inherit;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
    font-size: 1.5rem;
}

.nav li.active {
    background-color: #00546a;
}

.nav li:hover {
    background-color: #005f6e;
}

.group-main {
    align-self: center;
    height: 76px;
    width: 76px;
    cursor: pointer;
    filter: invert(100%) sepia(0%) saturate(7476%) hue-rotate(44deg) brightness(108%) contrast(98%);
}